@font-face {
    font-family: "Coffee";
    src: url(fonts/CoffeetinInitials-YXJ2.ttf) format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/dessert.png');
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Coffee";
    font-size: 24px;
    margin: 0;
}
.startscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: black;
    display: block;
}

#fullscreen {
    position: relative;
}

#btn-box {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#btn-box img {
    width: 20px;
    padding: 10px;
}

.dnone {
    display: none;
}

.startImg{ 
    width: 720px;
    height: 480px;
}

.playImg{
    position: absolute;
    z-index: 5;
    cursor: pointer;
    top: 200px;
}

.game-over{
    z-index: 1;
    width: 720px;
    height: 480px;
    position: absolute;
}

.retry-btn{
    position: absolute;
    bottom: 30px;
    left: calc(100vw / 2 - 120px);
    z-index: 2;
    cursor: pointer;
    background-color: #FFCB00;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 30px;
    border: 1.5px solid #ff8400;
}
.retry-btn:hover{
    background-color: #ffdd2c;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.retryIcon{
    width: 20px;
}

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }
}